.box1{
    min-height: 200px;
    width: 200px;
    background-color: rgb(213, 247, 146);
    color: rgb(150, 90, 90);
    padding: 20px;
    margin: 20px;
    float: left;
}

.box2{
    min-height: 200px;
    width: 200px;
    background-color: rgb(241, 222, 50);
    color: rgb(48, 46, 126);
    padding: 20px;
    margin: 20px;
    float: left;
}